html{
    box-sizing: border-box;
}
body{
    background-color: #143F6B;
    margin:0;
    min-height: 100vh;
    display:flex;
    justify-content: center;
    
    color:white;
    margin:0;
    padding:0;
}

ul{
    list-style-type: none;
    margin:0;
    padding:0;
}

li{
    float:left;
}
a {
    display:block;
    padding: 8px;
    background-color: darkcyan;
}
li a{
    display:block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

header a:hover{
    color:#cccccc;
}

header .current a{
    color: cyan;
}

.dark{
    background-color:rgba(4,11,92,.6);
}
.grid {
    display: grid;
    grid-template-columns: 2fr 1fr;
}

.piano
{  
    padding-top: 20%;
    display: flex;
}

.key{
    align-items: center;
    height:calc(var(--width)*4);
    width: var(--width);
}

.white{
    --width:100px;
    background-color: white;
    border: 1px solid black;
}

.white.active{
    background-color:#51ce2b;
}

.black{
    --width:60px;
    background-color:black;
    margin-left: calc(var(--width)/-2);
    margin-right: calc(var(--width)/-2);
    z-index:2; 
    
   
}

.black.active
{
    background-color:#ff0101;
}

